<!DOCTYPE html>
<html>
<head>
  <title>Programa de Qualiﬁcação de Restaurantes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= menu_principal %>
<%= yield %>

</body>
</html>
